.main{
    padding:10px;
    .box{
        width:80px;
        height:100px;
        margin:10px;
        position: relative;
        float:left;
        img{
            width:80px;
            height:100px;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            position: absolute;
        }
        .none1{
            display:none;
        }
        .hidden{
           /*  width:0;
            height:0; */
            display:none;
        }
    }
}